* {
  font-family: 'Lato', sans-serif;
}

html {
  background-color: #e8f6ff;
  /*background: url("img/background-s.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333333DD;
  z-index: 40;
}

#loading > span {
  position: fixed;
  width: 100%;
  top: 50%;
  margin-top: -140px;
  color:  white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

#loading > img {
  position: fixed;
  width: 256px;
  left: 50%;
  top: 50%;
  margin-top: -92px;
  margin-left: -128px;
}

header {
  display: flex;
  color: #F2F2F2;
  background: #1eaaff;
  margin: 0.5rem;
  margin-bottom: 0em;
  padding: 0.2rem;
  border-radius: 1rem;
}
#version {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
}
h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  margin:  4px 0;
}
header span {
  font-style: italic;
}
.logo {
  width: 4.2rem;
  padding: 0 1rem 0 0.5rem;
}
@media (max-width: 512px) {
  h1 {
    font-size: 1.0rem;
  }
  .logo {
    width: 1.4rem;
  }
  #version {
    font-size: 0.6rem;
  }
}
#username {
  position: absolute;
  right: 24px;
  top: 48px;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  color: #555;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.code, .demo {
  min-width: 240px;
  flex-grow: 1;
  margin: 0 0.5rem;
  border-radius: 0.4rem;
}

.code {
  position: relative;
  flex-grow: 1;
  background: #262626;
  color: #DDD;
  padding: 0;
}
#editor, #highlighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 5%;
  overflow-y: auto;
  outline: none;
  background: none;
  color: #DDD;
  resize: none;
  border: none;
  font-size: large;
}
#highlighting {
  display: none;
  background: #262626;
  top: 2px;
  left: 2px;
}
.current {
  color: #D22;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.05rem;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
  background: #FAFAFA;
}
#error {
  display: none;
  position: absolute;
  text-align: center;
  background: #DD3333;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #eee;
}

.buttons {
  z-index: 2;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
#send, #sending {
  display: flex;
  padding: 0.5rem;
  background: #1eaaff;
  border-radius: 0.5rem;
  transition: all 0.4s ease 0s;
}
#run:hover {
  background: #30832c;
}
#send span, #sending span {
  font-weight: bold;
  padding: 0 4px 0 12px;
}
#send img {
  width: 24px;
}

#sending {
  display: none;
  background: #603ca3;
}

#sending img {
  width: 64px;
}

#sending .stop img {
  margin: 8px;
  width: 48px;
}

#login-required {
  position: fixed;
  display: block;
  background: #40404090;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

#login-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 130px;
  margin-left: -160px;
  margin-top: -140px;
  padding: 10rem 2rem 0rem 2rem;
  text-align: center;
  border-radius: 1rem;
  background: 50% 10% / 20% no-repeat url("./img/connexion.png"),
              linear-gradient(-10deg, #146191, #1eaaff);
  box-shadow: 0 4px 6px -1px #00000055, 0 2px 4px -2px #00000055;
  border: 2px solid #35404e;
  transform: translate(0, -80vh);
  transition: transform .3s ease-in-out;
  z-index: 20;
}

#login-popup span {
  color: #ffeebc;
}

#login-popup button {
  margin-top: 12px;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #40404090;
  z-index: 5;
}
#overlay img {
  position: fixed;
  width: 64px;
  top: 50vh;
  left: 50vw;
  margin-top: -72px;
  margin-left: -32px;
  z-index: 10;
}
#overlay .done {
  position: fixed;
  width: 300px;
  height: 128px;
  margin-left: -150px;
  margin-top: -50px;
  top: 50vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  text-align: center;
  border: 4px solid #20A020;
  border-radius: 12px;
}
#overlay .done .done-msg, #overlay .done .done-sub {
  line-height: 32px;
}
#overlay .done .done-sub {
  color: #555;
  font-size: small;
  font-style: italic;
}